.App {
  display: inline;

}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
main {
  background-color: #fdfeff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}
/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
.Header{
  display: inline;
  flex-wrap: wrap;
  /*background-color: #edefee;*/
  background-color: #495e55;
}

/*configuration pseudoheader*/


/*Card section*/
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(22, 4, 4, 0.2);
  background-color: #edefee;
  color: black;
}

.card--img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card--info1 {
  padding: 10px;
  display: flex;
  
}
.card--order{
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.card--order button{
  background-color: #F4CE14;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.card--info1 h3,  h4{
  margin-left: 30px;
}
.card--info1 h4{
  color: red;
}
footer{
  text-align: center;
  background-color: #495e55;
  height: 50px;
}
/** section for media queries */
@media screen and (max-width: 768px) {
  /* Adjust header styles for tablets and smaller screens */
  .Header {
    flex-direction: column; /* Stack elements vertically */
  }

 
}
@media screen and (max-width: 480px) {
  /* Adjust header styles for phones and smaller screens */
  .card{
    width: calc(100% - 4%);
    margin: 2%;
  }
  .Header{
    width: 100%;
  }
  nav{
    width: 100%;
  }

  /* Add any other responsive adjustments you need for phone screens */
}
/* Media query for screens with a maximum width of 414px (phones) */
